<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag 'main_style', media: 'all' %>
		<title>Main Page</title>
        <script>
            function showProfilePopup() {
                var username = '<%= @user_name.present? ? @user_name : 'Guest' %>';
                var email = '<%= @user_email.present? ? @user_email : '' %>';

                var message = "Username: " + username + "\nEmail: " + email;
                alert(message);
            }
        </script>
	</head>
	<body>
		<header class="header">
			<h2>Welcome <%= @user_name.present? ? @user_name : 'Guest' %></h2>
			<div class="header-buttons">
				<%= link_to "Log-Out", root_path, method: :delete, class: "logoutbutton", id: "logoutbtn" %>
			</div>
		</header>
		<aside class="left">
			<ul>
				<li><%= link_to 'Home', main_path, class: 'active' %></li>
				<li><%= link_to 'Friends', chat_path(current_user) %></li>
				<li><%= link_to 'Group Chats', group_chatrooms_path %></li>
				<li><%= link_to 'Hobbies', hobby_path %></li>
				<li><%= link_to 'Profile', 'javascript:void(0);', onclick: 'showProfilePopup();' %></li>

			</ul>
		</aside>
		<main class="main" style="margin-left: -18%">
			<h3>About This Web</h3>
			<p>Hello and Welcome.<br>In this web you can find users who share the same hobbies as you and chat with them or add them to a group chatroom.
			<br>Moreover, in the Hobbies page, you can create your own group or find others to post in or interact with other users.
			<br>Have fun!
			</p>
		</main>
	</body>
</html>
