<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag 'main_style', media: 'all' %>
		<title>Main Page</title>
        <script>
            function showProfilePopup() {
                var username = '<%= @user_name.present? ? @user_name : 'Guest' %>';
                var email = '<%= @user_email.present? ? @user_email : '' %>';

                var message = "Username: " + username + "\nEmail: " + email;
                alert(message);
            }
        </script>
	</head>
	<body>
		<header class="header" style="margin-top: -37%;">
			<h2>Hello <%= @user_name.present? ? @user_name : 'Guest' %></h2>
			<div class="header-buttons">
				<%= link_to "Log-Out", root_path, method: :delete, class: "logoutbutton", id: "logoutbtn" %>
			</div>
		</header>
		<aside class="left">
			<ul>
				<li><%= link_to 'Home', main_path %></li>
				<li><%= link_to 'Friends', chat_path(current_user) %></li>
				<li><%= link_to 'Group Chats', group_chatrooms_path, class: 'active' %></li>
				<li><%= link_to 'Hobbies', hobby_path %></li>
				<li><%= link_to 'Profile', 'javascript:void(0);', onclick: 'showProfilePopup();' %></li>

			</ul>
		</aside>
		<main class="main" style="margin-left: -56%;">
  <h1><%= @group_chatroom.name %></h1>

  <div id="messages_group_chatrooms">
    <% @messages_group_chatrooms.each do |message_group_chatroom| %>
      <p><strong><%= message_group_chatroom.user.name %>:</strong> <%= message_group_chatroom.content %></p>
    <% end %>
  </div>

  <%= form_tag(create_message_group_chatrooms_path, method: :post) do %>
    <%= text_area_tag :content, nil, placeholder: "Type your message..." %>
    <%= hidden_field_tag :group_chatroom_id, @group_chatroom.id %>
    <%= submit_tag 'Send' %>
  <% end %>
		</main>
	</body>
</html>